<!-- About Section -->
<section class="success">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>About</h2>
                <hr class="star-light">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-lg-offset-2">
                <p>Crux is an open source project designed for rapid application development.</p>
            </div>
            <div class="col-lg-4">
                <p>Whether you're a student trying out node, a professional building an enterprise app or a web designer styling various applications, this framework is the perfect starting point!</p>
           </div>
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <a href="#" class="btn btn-lg btn-outline">
                    <i class="fa fa-download"></i> Download Framework
                </a>
            </div>
        </div>
    </div>
</section>